In [7]:
import os 
import pandas as pd

In [11]:

folder_path = "/home/onyxia/work/Python_Project_2A/data/RTE"
files = [f for f in os.listdir(folder_path) if f.endswith(".xls")]

dfs = []
for file in files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path, sep='\t', encoding='latin-1')
    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)
combined_df.to_csv("data_ele_2020-2024.csv", index=False)
print(f"shape:{combined_df.shape}")

/tmp/ipykernel_20259/557184122.py:7: DtypeWarning: Columns (12,13,14,15,18,20,21,22,24,30,32,33,34,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep='\t', encoding='latin-1')

shape:(175397, 70)

In [12]:
combined_df.head()

,Périmètre,Nature,Date,Heures,Consommation,Thermique,Nucléaire,Eolien,Solaire,Hydraulique,...,TCH Eolien (%),TCO Solaire (%),TCH Solaire (%),TCO Hydraulique (%),TCH Hydraulique (%),TCO Bioénergies (%),TCH Bioénergies (%),Unnamed: 67,Unnamed: 65,Unnamed: 29
0,Ile-de-France,Données définitives,2021-01-01,00:00,9916.0,412.0,0.0,5.0,0.0,1.0,...,4.72,0.0,0.0,0.01,5.0,1.30,40.31,NaN,NaN,NaN
1,Ile-de-France,Données définitives,2021-01-01,00:15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ile-de-France,Données définitives,2021-01-01,00:30,9964.0,417.0,0.0,2.0,0.0,3.0,...,1.89,0.0,0.0,0.03,15.0,1.40,43.44,NaN,NaN,NaN
3,Ile-de-France,Données définitives,2021-01-01,00:45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ile-de-France,Données définitives,2021-01-01,01:00,9662.0,418.0,0.0,1.0,0.0,3.0,...,0.94,0.0,0.0,0.03,15.0,1.45,43.75,NaN,NaN,NaN